.phone-number {
  visibility: hidden;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  order: 1;
  cursor: pointer;
  padding: 8px 20px;
  border-radius: 8px;
  color: rgba(0, 0, 0, 0.45);

}

.phone-number:hover {
  color: #000;
}

.icon {
  display: block;
  height: 24px;
  width: 24px;
  background-size: cover;
  background-position: center;

  @include hover(transform, scale(1.2));

  @include onTablet {
    height: 32px;
    width: 32px;
  }

  &--phone {
    background-image: url('../images/icons/phone-number.svg');
    order: 2;

    &:hover + .phone-number {
      visibility: visible;
    }
  }

  &--menu {
    background-image: url('../images/icons/icon-burger-menu.svg');
    order: 3;

    &:hover {
      background-image: url('../images/icons/icon-burger-menu-hover.svg');
    }
  }

  &--close {
    background-image: url('../images/icons/icon-close.svg');
  }
}
